
<html>
<head>
<meta charset="UTF-8">
<title>在庫調整</title>
<!-- bootstrapを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- jqueryを読み込む -->
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<!-- bootstrap-datepickerを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker.min.css}">
<script type="text/javascript"
	th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap-datepicker.ja.min.js}"></script>
<!-- date-tableを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/datatables.min.css}" />
<script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
</head>
<body>
	<!-- header読み込み(タイトル） -->
	<div th:replace="layout/header::header('在庫調整')"></div>
	<div class="container-fluid">
		<div class="create m-2">
			<!-- 送信前にチェックしています(check()） true時のみ実行 個数確認 -->
			<form id="form" method="POST"　th:action="@{/stocklist/{id}/adjustment(id=${item.id})}"
				th:object="${changeStock}"  onSubmit="return check()">
				<p class="p-1 h4" th:text="在庫調整"></p>
				<!-- データ作成内容 -->
				<div class="row justify-content-center">
					<div class="form-group col-8">
						<label for="id">商品番号</label>
						 <input type="text" class="form-control" name="id" 
						 id="id"  th:value="${item.id}" readonly>
					</div>
					<div class="form-group col-8">
						<label for="name">商品名</label>
						 <input type="text" class="form-control" name="name" 
						 id="name" th:value="${item.name}" readonly>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="form-group col-8">
						<label for="expiration">賞味期限</label>
						 <input type="text" class="form-control" 
						  th:value="${item.date}" readonly>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="form-group col-8">
						<label for="stock">在庫変更数</label> 
						<!-- テキスト入力が使わせたい場合 -->
<!-- 						 <input type="text" class="form-control" name="stock" 
						 id="stock"   th:value="${item.stock}"> -->
						 <!-- セレクトで入力制限をかけておく -->
						 	<input type="hidden" id="input_num" th:value="${item.stock}">
						 	<select name="changestock" id="stocks" class="form-select form-select-lg mb-3 selectpicker" size="2" aria-label="size 3 select example">
						 	</select>
					</div>
				</div>
				<div class="row justify-content-center pt-3">
					<div class="col-1 d-grid gap-2 col-6 ma-ato">
						<button type="submit" class="btn btn-danger">変更する</button>
					</div>
				</div>
			</form>
		</div>
	</div>
		<!-- 戻るボタン -->
		<form th:action="@{/stocklist}" method="get">
			<div class="d-grid gap-2 col-6 mx-auto pt-5">
			   	<button class="btn btn-primary "  type="submit">戻る</button>
			</div>
		</form>
	<script>
		//繰り返しでoptionの値をストックの数作成する
		//読み込み後
		window.onload = function input_option(){
			var num = document.getElementById("input_num").value;
			const selectset = document.getElementById('stocks');
			for(var i = 1; i <= num; i++ ){
				const option1 = document.createElement('option');
				option1.value = i;
				option1.textContent = i;
				selectset.appendChild(option1);
			}
		}
		
		//送信前に個数確認
		function check(){
			var num = document.getElementById("stocks").value;
			if(window.confirm( num + '個で変更しますか？')){
				return true;
			}else{
				windows.alter('キャンセルしました');
				return false;
			}
					
		}
		
		
	</script>
	
</body>
</html>