
<html>
<head>
<meta charset="UTF-8">
<title>商品編集</title>
<!-- bootstrapを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- jqueryを読み込む -->
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<!-- bootstrap-datepickerを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker.min.css}">
<script type="text/javascript"
	th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap-datepicker.ja.min.js}"></script>
<!-- date-tableを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/datatables.min.css}" />
<script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light"
			style="background-color: #CCFFFF;">
			<span class="navbar-brand"> <strong>商品編集</strong> <svg
					xmlns="http://www.w3.org/2000/svg" width="16" height="16"
					fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">        </svg>
			</span>
			<div class="collapse navbar-collapse justify-content-end">
				<ul class="navbar-nav">
					<li class="nav-item "><span class="navbar-text"
						th:text="'ログインユーザ：' + ${#httpServletRequest.remoteUser}">></span></li>
				</ul>
				<form method="POST" th:action="@{/logout}">
					<button type="submit" class="btn btn-link">ログアウト</button>
				</form>
			</div>
		</nav>
	<div class="container-fluid">
		<div class="create m-2">
			<!-- 送信前にチェックしています(check()） true時のみ実行 　内容確認 -->
			<form id="form" method="POST"  th:action="@{/stocklist/{id}/edit(id=${item.id})}"
				th:object="${putForm}"  onSubmit="return check()">
				<p class="p-1 h4" th:text="商品編集"></p>
				<!-- データ作成内容 -->
				<div class="row justify-content-center">
					<div class="form-group col-8">
						<label for="id">商品番号</label>
						 <input type="text" class="form-control" name="id" 
						 id="id"  th:value="${item.id}" readonly>
					</div>
					<div class="form-group col-8">
						<label for="name">商品名</label>
						 <input type="text" class="form-control" name="name" 
						 id="name" th:value="${item.name}">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="form-group col-8">
						<label for="categoryForm">賞味期限</label> 
						<select id="expiration_date" name="expiration_date"
							class="form-select col-8"  required>
							<option selected value="">賞味期限を選択してください</option>
							<option value="6" th:selected="${item.expiration_date == 6}">６か月</option>
							<option value="9" th:selected="${item.expiration_date == 9}">９か月</option>
							<option value="12" th:selected="${item.expiration_date == 12}">１２か月</option>
						</select>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="form-group col-8">
						<label for="factory">生産工場</label> 
						<select id="factory_id" 
							class="form-select col-8" name="factory_id" required>
							<option selected value="">生産工場を選択してください</option>
							<option value="1" th:selected="${item.factory_id == 1}">丹波工場</option>
							<option value="2" th:selected="${item.factory_id == 2}">本社工場</option>
						</select>
						<div class="invalid-feedback">必須入力です</div>
					</div>
				</div>			
				<div class="row justify-content-center pt-3">
					<div class="col-1 d-grid gap-2 col-6 ma-ato">
						<button type="submit" class="btn btn-danger">変更する</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 戻るボタン -->
	<form th:action="@{/stocklist/itemlist}" method="get">
		<div class="d-grid gap-2 col-6 mx-auto pt-5">
			 <button class="btn btn-primary "  type="submit">戻る</button>
		</div>
	</form>
	<script>

		

	//送信前に入力内容確認
	function check(){
		var name = document.getElementById("name").value;
		var date = document.getElementById("expiration_date").value;
		var factory_id = document.getElementById("factory_id").value;
		
		switch(factory_id){
			case '1' :
				var factory = '丹波工場'; break;
			case '2' :
				var factory = '本社工場'; break;
		}
		
		
		if(window.confirm( '商品名　 :  ' + name + '\n' +  
			   			   '賞味期限 :  ' + date + 'ヶ月\n' + 
			   			   '製造工場 :  ' + factory + '\n' + 
			   			   'で登録しますか？')){
			return true;
		}else{
			windows.alter('キャンセルしました');
			return false;
		}
	}
		
		
	</script>
	
</body>
</html>