<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商品登録</title>
<!-- bootstrapを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<!-- jqueryを読み込む -->
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<!-- bootstrap-datepickerを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker.min.css}">
<script type="text/javascript"
	th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap-datepicker.ja.min.js}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light"
		style="background-color: #CCFFFF;">
		<span class="navbar-brand"> <strong>商品登録</strong>
		</span>
		<div class="collapse navbar-collapse justify-content-end">
			<ul class="navbar-nav">
				<li class="nav-item "><span class="navbar-text"
					th:text="'ログインユーザ：' + ${#httpServletRequest.remoteUser}">></span></li>
			</ul>
			<form method="POST" th:action="@{/logout}">
				<button type="submit" class="btn btn-link">ログアウト</button>
			</form>
		</div>
	</nav>
	<div class="container-fluid">
		<!-- エラーがあれば表示する model.addAttribute(“error”・・・指定すること-->
		<h2 th:if="${error}" style="color: red;">[[${error}]]</h2>
		<div class="create m-2">
			<!-- boot strap で一部バリデーション実施 -->
			<!-- 送信前にチェックしています(check()） true時のみ実行 -->
			<!--  ${update}? @{/stocklist/update}: @{/stocklist/insert で各表示変更する -->
			<form id="form" class="needs-validation" novalidate method="POST"
				th:action="${update}? @{/stocklist/update}: @{/stocklist/insert}"
				th:object="${putForm}" onSubmit="return check()">
				<p class="p-1 h4" th:text="${update}? 編集: 新規作成"></p>
				<!-- データ作成内容 -->
				<div class="row justify-content-center">
					<div class="form-group col-8">
						<label for="title">商品名</label> <input type="text"
							class="form-control"  id="name" name="name"
							placeholder="商品名">
						<div class="invalid-feedback">25文字以内で入力してください</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="form-group col-8">
						<label for="categoryForm">賞味期限</label> 
						<select id="expiration_date" name="expiration_date"
							class="form-select col-8"  required>
							<option selected value="">賞味期限を選択してください</option>
							<option value="6" >６か月</option>
							<option value="9" >９か月</option>
							<option value="12" >１２か月</option>
						</select>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="form-group col-8">
						<label for="categoryForm">生産工場</label> 
						<select id="factory_id" 
							class="form-select col-8" name="factory_id" required>
							<option selected value="">生産工場を選択してください</option>
							<option value="1" >丹波工場</option>
							<option value="2" >本社工場</option>
						</select>
						<div class="invalid-feedback">必須入力です</div>
					</div>
				</div>
				<div class="row justify-content-end">
					<div class="d-grid gap-5 col-6 mx-auto pt-5">
						<button type="submit" class="btn btn-warning btn-lg"
							th:name="insert" th:text="登録"></button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 戻るボタン -->
	<form th:action="@{/stocklist}" method="get">
		<div class="d-grid gap-2 col-6 mx-auto pt-5">
			  <button class="btn btn-primary "  type="submit">戻る</button>
		</div>
	</form>
</body>

<script>

	//送信前に入力内容確認
	function check(){
		var name = document.getElementById("name").value;
		var date = document.getElementById("expiration_date").value;
		var factory_id = document.getElementById("factory_id").value;
		
		switch(factory_id){
			case '1' :
				var factory = '丹波工場'; break;
			case '2' :
				var factory = '本社工場'; break;
		}
		
		
		if(window.confirm( '商品名　 :  ' + name + '\n' +  
			   			   '賞味期限 :  ' + date + 'ヶ月\n' + 
			   			   '製造工場 :  ' + factory + '\n' + 
			   			   'で登録しますか？')){
			return true;
		}else{
			windows.alter('キャンセルしました');
			return false;
		}
				
	}

</script>
</html>