<html>
<head>
<meta charset="UTF-8">
<title>商品</title>
<!-- bootstrapを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- jqueryを読み込む -->
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<!-- bootstrap-datepickerを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker.min.css}">
<script type="text/javascript"
	th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap-datepicker.ja.min.js}"></script>
<!-- date-tableを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/datatables.min.css}" />
<script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
</head>
<body>
	<!-- header読み込み(タイトル） -->
	<div th:replace="layout/header::header('トップページ')"></div>
 　　<!-- content -->
    <div class="container" style="padding:40px 0 0 0">
        <!-- main -->
        <div class="col-md-9 ">
            <div class="row text-center mx-auto">
            	<!-- 単位１ -->
                <div class="col-md-4">
                    <div class="thumbnail" style="text-align:center;padding-top:10px;
                    								background:#ddd; border: 10px #696969 solid; padding:15px;">
                        <a th:href="@{/stocklist/form}">
                            <img style="width : 100% ; height: 100%; 
                            background:#ddd; border: 5px #696969 solid; padding:5px" th:src="@{/images/touroku.jpg}">
                        </a>
                        <div class="caption">
                            <p style="margin-bottom:0px"><a href="" class="btn btn-primary">商品登録</a></p>
                        </div>
                    </div>
                </div>
                <!-- ここまで -->
                <!-- 単位１ -->
                <!-- 単位２ -->
                <div class="col-md-4">
                    <div class="thumbnail" style="text-align:center;padding-top:10px;
                    								background:#ddd; border: 10px #696969 solid; padding:15px;">
                        <a th:href="@{/stocklist/itemlist}">
                            <img style="width : 100% ; height: 100%;
                            background:#ddd; border: 5px #696969 solid; padding:15px" th:src="@{/images/update.jpg}">
                        </a>
                        <div class="caption">
                            <p style="margin-bottom:0px"><a href="" class="btn btn-primary">商品変更・削除</a></p>
                        </div>
                    </div>
                </div>
                <!-- ここまで -->
                <!-- 単位２ -->
                <!-- 単位３ -->
                <div class="col-md-4">
                    <div class="thumbnail" style="text-align:center;padding-top:10px;
                    								background:#ddd; border: 10px #696969 solid; padding:15px;">
                        <a th:href="@{/stocklist}" >
                            <img style="width : 100% ; height: 100%;
										background:#ddd; border: 5px #696969 solid; padding:15px" th:src="@{/images/stock.jpg}">
                        </a>
                        <div class="caption">
                            <p style="margin-bottom:0px"><a href="" class="btn btn-primary">在庫確認・管理</a></p>
                        </div>
                    </div>
                </div>
                <!-- ここまで -->
                <!-- 単位３ -->
                <!-- 単位4 -->
                <div class="col-md-4">
                    <div class="thumbnail" style="text-align:center;padding-top:10px;
                    								background:#ddd; border: 10px #696969 solid; padding:15px;">
                        <a th:href="@{/stocklist}" >
                            <img style="width : 100% ; height: 100%;
										background:#ddd; border: 5px #696969 solid; padding:15px" th:src="@{/images/torack.jpg}">
                        </a>
                        <div class="caption">
                            <p style="margin-bottom:0px"><a href="" class="btn btn-primary">出荷一覧</a></p>
                        </div>
                    </div>
                </div>
                <!-- ここまで -->
                <!-- 単位4 -->
            </div><!-- end row -->
        </div><!-- end main -->
    </div><!-- end content -->


</body>
</html>