<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<!-- bootstrapを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- jqueryを読み込む -->
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<!-- bootstrap-datepickerを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker.min.css}">
<script type="text/javascript"
	th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap-datepicker.ja.min.js}"></script>
<!-- date-tableを読み込む -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/datatables.min.css}" />
<script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
</head>
<body>
	<!-- header読み込み(タイトル） -->
	<div th:replace="layout/header::header('在庫一覧')"></div>
	<!--  検索用 -->
	<div class="container-fluid">
		<div class="search m-2">
			<form method="GET" th:action="@{/stocklist}" th:object="${getForm}">
				<div class="row">
					<div class="form-group col-3 m-2">
						<label for="category">名前検索</label> <select id="category"
							name="name" class="form-select col-2">
							<option></option>
							<option  th:each="item: ${list}" th:value="${item.name}" th:inline="text">[[${item.name}]]</option>
						</select>
					</div>
					<div class="col-2 m-2">
						<button type="submit" class="btn btn-primary">検索</button>
					</div>
				</div>
			</form>
		</div>
		<!--  検索用ここまで -->
		<!--  一覧表示 -->
		<div class="list">
			<table id="table" class="table table-striped table-hover">
				<thead class="thead-lignt">
					<tr>
						<th class="col-2">商品番号</th>
						<th class="col-6">商品名</th>
						<th class="col-2">賞味期限</th>
						<th class="col-1">生産工場</th>
					</tr>
				</thead>
				<tbody>
					<!-- listをitemに1件ずつの値をループで取得します -->
					<tr th:each="item: ${list}">
						<td th:text=${item.id}></td>
						<td th:text=${item.name}></td>
						<td th:text=${item.expiration_date}></td>
						<td th:text=${item.factory_id}></td>
						<td><a class="btn btn-primary"
							th:href="@{/stocklist/{id}(id=${item.id})}">在庫確認</a></td>
					</tr>
					<!--              ここまで繰り返し               -->
				</tbody>
			</table>
		</div>
		<!-- 一覧ここまで -->
	</div>
</body>


<!-- テーブルの賞味期限表示変更時使用予定 -->
<script>
    $('#date_sample').datepicker({
      format: 'yyyy/mm',
      language: 'ja',
      autoclose: true,
      minViewMode: 'months'
    });
    $.extend( $.fn.dataTable.defaults, {
         language: {
             url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
         }
     });
     $("#table").DataTable({
       // 検索機能 無効
       searching: false,
       scrollY: 250
     });
  </script>
</html>